<go-top-button   
[animate]="false"
[scrollDistance]="300"
[styles]="{
  'border-radius': '20px 20px 20px 20px',
  'right': '5px',
  'color': 'rgb(12, 149, 135)',
  'fill': 'rgb(12, 149, 135)',
  'border': '5px solid',
  'line-height': '20px',
  'background-color': 'white'
}"
>
  <img src="/assets/arrow-up.svg">
</go-top-button>

<br>

<div class="container" id="top">
  <div class="row">
    <div class="col-md-2">
      <img src="/assets/logo.png" class="img-fluid" style="max-height: 150px;">
    </div>
    <div class="col-md-8">
      <h1>Welcome to Stickular</h1>
      <h2>Colorful stickers to personalize your <a href="https://timeular.com">Timeular Tracker!</a></h2>
    </div>
    <div class="col-md-2">
      <div style="width: 100px">
        <a href="#" onClick="Snipcart.api.modal.show(); return false;" style="fill: rgb(12, 149, 135);">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M551.991 64H144.28l-8.726-44.608C133.35 8.128 123.478 0 112 0H12C5.373 0 0 5.373 0 12v24c0 6.627 5.373 12 12 12h80.24l69.594 355.701C150.796 415.201 144 430.802 144 448c0 35.346 28.654 64 64 64s64-28.654 64-64a63.681 63.681 0 0 0-8.583-32h145.167a63.681 63.681 0 0 0-8.583 32c0 35.346 28.654 64 64 64 35.346 0 64-28.654 64-64 0-18.136-7.556-34.496-19.676-46.142l1.035-4.757c3.254-14.96-8.142-29.101-23.452-29.101H203.76l-9.39-48h312.405c11.29 0 21.054-7.869 23.452-18.902l45.216-208C578.695 78.139 567.299 64 551.991 64zM208 472c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm256 0c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm23.438-200H184.98l-31.31-160h368.548l-34.78 160z"></path></svg>
        </a>
      </div>
      <div class="100%" style="margin-top: 10px;">
        <button class="btn btn-info" onClick="Snipcart.api.modal.show(); return false;">
          View Cart
        </button>
      </div>      
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p style="padding: 15px; margin: 5px; background-color: lightgray; border-radius: 5px;">
        We cut and ship stickers you select from our library of 
        over <strong>5000 time tracking designs</strong>.  Pick a color for your sticker, pick an 
        icon, then pick a style and we'll create custom colored stickers for 
         your Tracker.  Any questions?  <a [routerLink]="['/faq']">Read our FAQ<
/a> and <a href="mailto:contact@apiskeletons.com">Contact Us</a>
      </p>

      <h3>1. Start by picking a color</h3>
    </div>
  </div>
</div>
<div class="container" style="position: sticky; top: 0; z-index:1000; background-color: white;">
  <div class="row">
    <div class="col-md-12" style="height: 45px;">
      <span 
        *ngFor="let rgb of colors()"
        class="dot" 
        (click)="selectColor(rgb)" 
        [ngClass]="{'selected': getColor() === rgb}"
        [ngStyle]="{'background-color': rgb, 'fill': (getColor() === rgb) ? 'white': rgb}"
      >
        <div style="width: 25px; padding-left: 11px;">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z"/></svg>
        </div>
      </span>
      <span 
        (click)="inverseColors()"
        class="dot text-center" 
        style="border: solid; cursor: pointer;"><small>inv</small></span>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 10px;">
  <div class="row">
    <div class="col-md-12">
      <h3>2. Find an icon and click the icon when you're ready</h3>
    </div>
  </div>
  <div class="row">    
    <div class="col-md-4">
      <div class="form-check form-check-inline">
        <input 
          type="checkbox" 
          id="solidFilter"
          name="icon-group" 
          class="form-check-input"
          [(ngModel)]="solidFilter"
          (ngModelChange)="filterChange()"
        > 
        <label class="form-check-label" for="solidFilter">Solid</label>
      </div>
      <div class="form-check form-check-inline">
        <input 
          type="checkbox" 
          id="regularFilter"
          name="icon-group" 
          class="form-check-input"
          [(ngModel)]="regularFilter"
          (ngModelChange)="filterChange()"
        > 
        <label class="form-check-label" for="regularFilter">Regular</label>
      </div>
      <div class="form-check form-check-inline">
        <input 
          type="checkbox" 
          id="lightFilter"
          name="icon-group" 
          class="form-check-input"
          [(ngModel)]="lightFilter"
          (ngModelChange)="filterChange()"
        > 
        <label class="form-check-label" for="lightFilter">Light</label>
      </div>
      <div class="form-check form-check-inline">
        <input 
          type="checkbox" 
          id="brandFilter"
          name="icon-group" 
          class="form-check-input"
          [(ngModel)]="brandFilter"
          (ngModelChange)="filterChange()"
        > 
        <label class="form-check-label" for="brandFilter">Brands</label>
      </div>
    </div>
    <div class="col-md-5">
      <div class="input-group">
        <input 
          id="typeahead-basic" 
          type="text" 
          class="form-control" 
          [(ngModel)]="term" 
          [ngbTypeahead]="search"
          placeholder="search for a name or term"
          (selectItem)="filterChange($event)"  
          (ngModelChanged)="filterChange()"
        >

        <button 
          (click)="filterChange()" 
          class="form-control"
          class="btn btn-primary"
          style="margin-left: 10px;"
          >Search</button>

      </div>
    </div>
  </div>
</div>

<div 
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
  class="container" 
  *ngIf="icons?.default" 
  style="margin-top: 30px;"
>
  <div class="row">
    <ng-container *ngFor="let icon of icons.default | keyvalue">
      <ng-container *ngFor="let svgGroup of icon.value.svg | keyvalue">
        <div class="col-md-2" *ngIf="icon.value.svg[svgGroup.key].visible"
          style="margin: 10px; padding: 10px; max-width: 150px"
          [ngStyle]="{
            'fill': color,
            'background-color': backgroundColor
          }"
        >
          <span
            (click)="stickerDetail(icon.key, svgGroup.key)"
            style=""
            [innerHTML]="icon.value.svg[svgGroup.key].raw | safeHtml">
          </span>

          {{ ucFirst(svgGroup.key) }} {{ icon.value.label }}
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
