<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1>Stickular</h1>

      <h2>
        Frequently Asked Questions
      </h2>

      <h3>Can I see a picture?</h3>
      <img src="/assets/tracker.jpg" style="width: 500px">
      <p>
        We'd love to feature a picture of your Tracker with
        Stickular stickers on it!  
      </p>

      <h3>Will I get a proof?</h3>
      <p>
        Yes.  Once your order is accepted we'll create a PDF
        with all your stickers in it and email it to you.  
        We'll wait for your go-ahead and create your custom
        stickers after your approval.  
      </p>

      <h3>
        How long does an order take to arrive?
      </h3>
      <p>
        After you have approved your proof we ship standard mail
        so expect 7 - 10 business days.
      </p>

      <h3>
        The sticker styles say they are approximations.
        What does a final sticker look like?
      </h3>
      <p>
        All sticker styles maintain the same border padding
        while adjusting for special cuts like Label and 
        Battery Notch.
      </p>

      <img src="/assets/layout-unicorn.png" class="img-fluid" 
        style="width: 500px">

      <h3>
        Are the stickers removable?
      </h3>
      <p>
        Yes, but the sticker will be destroyed in the removal
        process.  To clean off any extra sticker stick use 
        <a href="https://www.webstaurantstore.com/8-oz-goo-gone-2087-adhesive-remover/999GG2087.html?utm_source=Google&utm_medium=cpc&utm_campaign=GoogleShopping&gclid=Cj0KCQjwtMvlBRDmARIsAEoQ8zQq2dRDGS4_MPCZlf7_oqu8GMV3nMg-U7FfS70tZI-geYgp-999UEIaAoRiEALw_wcB">Goo Gone</a>.
        The citrus version of Goo Gone is not effective.
      </p>


      <a [routerLink]="['/']">Back to Stickular</a>
    </div>
  </div>
</div>
